<div class="container">
<div class="row border border-primary my-5 p-3">
  <div class="col-12 col-md-6">
    <h2> Symptom Checker</h2>

    <form class="my-3">
      <div class="form-group">
        <label for="sym_select">What bothers you?</label>
        <select class="form-control" #sym_select (change)="saveSymptom(sym_select.value)">
          <option>Pick from list</option>
          <option *ngFor="let symptom of symptoms" [value]="symptom.ID">{{symptom.Name}}</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary" (click)="getDiagnosis()">Get Diagnosis</button>
    </form>

  </div>
</div>
</div>
