<div class="container p-3">
  <header class="text-center text-md-left">
    <h1 >QuicAid</h1>
    <small>Powered by <a href="http://apimedic.com/">ApiMedic</a></small>
  </header>

  <div class="row my-4">
    <div class="col-md-6 mb-3">
      <button class="btn ui-button btn-1" routerLink="/symptoms">Get Diagnosis</button>
      <small><a href="https://www.freepik.com/photos/background">photo created by creativeart - www.freepik.com</a></small>
    </div>
    <div class="col-md-6">
      <button class="btn ui-button btn-2" routerLink="/maps">Find Health Facility</button>
      <small>Image by <a href="https://pixabay.com/users/paligraficas-6638487/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2831364">Augusto Ordonez</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2831364">Pixabay</a></small>
    </div>
  </div>
</div>
